* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* navigation-bar styling*/

.navigation-bar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 15px 0;
    background: rgba(70, 1, 33, 0.705);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.navigation-bar .nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-container{
    display: flex;
    max-width: 90%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.navigation-bar .logo a{
    color: black;
    font-size: 35px;
    font-weight: 700;
}

.foli {
    color: white;
    transition: color 0.3s ease;
}

.navigation-bar .menu li{
    list-style: none;
    display: inline-block;
}

li {
    margin-left: 25px;
}
.navigation-bar .menu li a{
    color: white;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
}

/*Hover fuction for the navigation-bar*/
.navigation-bar .menu li a:hover{
    color: rgb(230, 7, 7);
}

.foli:hover{
    color: rgb(230, 7, 7);
}


/* Styling of the "Home" Section and addition of the BackGround image */
.home {
    display: flex;
    background: url(../Images/Sketch005.png) no-repeat right ;
    background-size: 45%;
    background-blend-mode: darken;
    background-color: darkgray;
    height: 100vh;
    color: rgb(55, 13, 134);
    min-height: 500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home .nav-container{
    margin: auto 0 auto 40px;
    max-width: 45%;
}

.home .home-content .text-1{
    font-size: 20px;
}

.home .home-content .text-2{
    font-size: 55px;
    font-weight: 650;
    margin-left: -3px;
}

.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span{
    color: rgb(221, 123, 10);
    font-weight: 500;
}

.home .home-content a{
    display: inline-block;
    background: rgb(221, 123, 10);
    color: ivory;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid  rgb(221, 123, 10);
    transition: all 0.3s ease;
}

.About_Me .About_Me-content .column {
    width: 50%;
    position: inherit;
}

section{
    padding: 100px 0;
    background-color: darkgray;
}
.About_Me{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.About_Me .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 60px;
    margin-left: 35%;
    margin-top: 25px;
    padding-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.About_Me .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 5px;
    background: darkblue;
    transform: translatex(-50%);
}

.About_Me .About_Me-content .column_left{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-right: 25px;
}

.About_Me .About_Me-content .column_left{
    width: 45%;
}

.About_Me .About_Me-content .column_left img{
    height: 55%;
    width: 75%;
    position: inherit;
    object-fit: cover;
    border-radius: 6px;
    margin-left: 25px;
    margin-right: 0%;
    margin-bottom: 35px;
    margin-top: -450px;
    padding-bottom: 35px;
    clear: right;
}
.column_right .text{
    font-size: 25px;
}

.About_Me .About_Me-content .column_right{
    width: 30%;
    margin-left: 55%;
    margin-top: 40px;
    clear: both;

}

.CV a{
    display: inline-block;
    background: rgb(101, 10, 221);
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid  rgb(10, 189, 221);
    transition: all 0.3s ease;
}

.About_Me .About_Me-content .CV a:hover{
    color: rgb(101, 10, 221);
    background-color: deepskyblue;
    border: 2px solid  rgb(148, 18, 131);
}

/*My Services area styling*/
.my_services {
    box-sizing: flex;
    background-image: url(../Images/sb-blog-programming.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    color: white;
    height: 85%;
    text-align: center;
}

.services_title {
    font-size: 40px;
    color: rgb(201, 150, 226);
    position: relative;
    padding-bottom: 1em;
}
    
    .services_title::before{
        content: "";
        position: absolute;
        left: 50%;
        width: 280px;
        height: 5px;
        margin: 1.5em auto -5px;
        background: rgb(209, 18, 209);
        transform: translatex(-50%);
    }
    
    p {
        margin-top: 0;
    }
    
    .my_services {
        column-width: 250px 3;
        column-gap: 2em;
        
    }
    
    ul {
        list-style: none;
    }
    .p1 {
        column-span: all;
        margin-bottom: -20px;
        margin-left: -35px;
        padding: 20px;
    }

    .p2 {
        column-span: all;
        margin-bottom: -20px;
        margin-left: -35px;
        padding: 20px;
    }

    .service {
        margin-bottom: 4em;
    }
    
    .service {
        max-width: 500px;
        margin: 0 auto;
    }
    
    @media (min-width: 800px) {
        .services {
            display: flex;
            max-width: 900px;
            margin-left: auto;
            margin-right: auto;
        }
        
        .service + .service {
            margin-left: 2em;
        }
    }
    
    .service {
        max-width: 500px;
        margin:0 auto;
    }
    
    @media (min-width: 800px) {
        .service {
            display: flex;
            max-width: 1000px;
            margin: 0 auto;
        }
    
        .service + .service {
            margin-left: 1em;
        }
    }
    
    h3 {
        text-align: center;
        width: 55px;
        margin-left: 225px;
        margin-bottom: 25px;
    }

/* My Projects area styling*/
.my_projects {
    max-width: 960px;
    margin: 0 auto;
    padding: 6% 2%;
}

.project_grid {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}

.project_grid:after {
    clear: both;
}

.project_grid:after, .project_box1 .project_box:before {
    content: "";
    display: table;
}

.project_grid li {
    width:320px;
    height: 320px;
    display: inline-block;
    margin: 30px;
}

.project_box1 {
    width: 105%;
    height: 100%;
    padding: 0%;
    margin-right: 35%;
    position: top;
    cursor: pointer;
    border-radius: 10px;
    -webkit-transition: 0.3s ease-in-out;
    -webkit-transform: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -moz-transform: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    transform: 0.3s ease-in-out;
}
    
.project_box {
    width: 85%;
    height: 90%;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    -webkit-transition: 0.3s ease-in-out;
    -webkit-transform: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -moz-transform: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    transform: 0.3s ease-in-out;
}

.project_box1:hover {
    transform: scale(1.05);
}

.project_box:hover {
    transform: scale(1.05);
}

.project1 {
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)),
    url(../Images/2020-11-01\ \(2\).png)
}

.project2 {
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)),
    url(../Images/search-engine-optimization.jpg)
}

.project3 {
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)),
    url(../Images/python-for-web-development.jpg)
}

.project4 {
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)),
    url(../Images/download1.jpg)
}

.project5 {
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)),
    url(../Images/080120055122_blog_image1.jpg)
}

.section_title_section_title_projects {
    position: absolute;
    margin-left: 40%;
    font-size: 40px;
    margin-top: -75px;
    margin-bottom: 15px;
    color:  rgb(79, 7, 212);
}

.section_title_section_title_projects::before{
    content: "";
    position: absolute;
    left: 50%;
    width: 230px;
    height: 5px;
    margin: 1.5em auto -5px;
    background:rgb(65, 1, 59);
    transform: translatex(-50%);
}


/* responsive media query start */
@media (max-width: 1300px){
    .section_title_section_title_projects{
        margin-left: 25%;
    }
}

@media (max-width: 1300px){
    .home .nav-container{
        margin-left: 0px;
    }
}

@media (max-width: 1104px){
    .About_Me .About_Me-content .left img {
        height: 350px;
        width: 350px;
    }
}

/*Footer content styling*/
.footer {
    background-color: rgb(70, 1, 33);
    padding: 10px;
}

.footer .columns {
    max-width: 1400px;
    width: 100%;
    display: grid;
    overflow: hidden;
    margin: 0 auto 25px;
    margin-top: 15px;
}

.contact_me {
    font-size: 25px;
    font-weight: 500;
    color: ghostwhite;
    clear: right;
    margin-left: -15%;
    margin-top: 25px;
}

.info {
    display: flex;
    max-width: 100%;
    margin-top:-55px;
    margin-left: 15%;
    justify-content: space-between;
}

.email a{
    font-size: 25px;
    color: rgb(16, 203, 250);
    transition: color 0.3s ease;
}

.Git1 a{
    font-size: 25px;
    font-weight: 600;
    color: rgb(226, 6, 160);
    transition: color 0.3s ease;
}

.Git2 a{
    font-size: 25px;
    font-weight: 600;
    color: rgb(182, 3, 189);
    transition: color 0.3s ease;
}

.Ph1 {
    font-size: 25px;
    color: rgb(226, 6, 215);
}

.info li a:hover {
    color: ghostwhite;
}

@media (max-width: 1150px){
    .ID .info {
        display: grid;
        margin-top: 5%;
        height: 395px;
        width: 395px;
        justify-content: space-between;

    }
}
