* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* navigation-bar styling*/

.navigation-bar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 15px 0;
    background: rgba(70, 1, 33, 0.705);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.navigation-bar .nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-container{
    display: flex;
    max-width: 90%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.navigation-bar .logo a{
    color: black;
    font-size: 35px;
    font-weight: 700;
}

.foli {
    color: white;
    transition: color 0.3s ease;
}

.navigation-bar .menu li{
    list-style: none;
    display: inline-block;
}

li {
    margin-left: 25px;
}
.navigation-bar .menu li a{
    color: white;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
}

/*Hover fuction for the navigation-bar*/
.navigation-bar .menu li a:hover{
    color: rgb(230, 7, 7);
}
.foli:hover{
    color: rgb(230, 7, 7);
}


/* Styling of the "Home" Section and addition of the BackGround image */
.home {
    display: flex;
    background: url(Sketch005.png) no-repeat right ;
    background-size: 50%;
    background-blend-mode: darken;
    background-color: darkgray;
    height: 100vh;
    color: rgb(55, 13, 134);
    min-height: 500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home .nav-container{
    margin: auto 0 auto 40px;
    max-width: 40%;
}

.home .home-content .text-1{
    font-size: 20px;
}

.home .home-content .text-2{
    font-size: 55px;
    font-weight: 650;
    margin-left: -3px;
}

.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span{
    color: rgb(221, 123, 10);
    font-weight: 500;
}

.home .home-content a{
    display: inline-block;
    background: rgb(221, 123, 10);
    color: ivory;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid  rgb(221, 123, 10);
    transition: all 0.3s ease;
}

.About_Me .About_Me-content .column {
    width: 50%;

}

/* The "About Me" (***45***) section styling*/
section{
    padding: 100px 0;
}
.About_Me{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.About_Me .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.About_Me .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: darkblue;
    transform: translatex(-50%);
}

.About_Me .title::after{
    content: "Who I AM";
    position: absolute;
    bottom: -17px;
    left: 50%;
    font-size: 20px;
    color: red;
    padding: 5px;
    background: white;
    transform: translatex(-50%);
}

.About_Me .About_Me-content .left{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.About_Me .About_Me-content .left{
    width: 45%;
}

.About_Me .About_Me-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.About_Me .About_Me-content .right{
    width: 55%;
}

.About_Me .About_Me-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.About_Me .About_Me-content .right .text span{
    color: hotpink;
}

.About_Me .About_Me-content .right p{
    text-align: justify;
}

.About_Me .About_Me-content .right a{
    display: inline-block;
    background: rgb(221, 123, 10);
    color: ivory;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid  rgb(221, 123, 10);
    transition: all 0.3s ease;
}

.About_Me .About_Me-content .right a:hover{
    color: lawngreen;
    background: none;
}

/* responsive media query start */
@media (max-width: 1300px){
    .home .nav-container{
        margin-left: 0px;
    }
}

@media (max-width: 1104px){
    .About_Me .About_Me-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px){
    .nav-container{
        padding: 0 50px;
}        

/*
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index:999;
} */

    .navigation-bar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: 0;
        top: 0;
        background: rgba(70, 1, 33, 0.815);
        text-align: center;
        padding-top: 80px;
    }
    .navigation-bar .menu li{
            display: inline;
    }
    .navigation-bar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
        text-shadow: black;
    }
      }